# Bỏ qua thư mục môi trường ảo (Rất quan trọng)
venv/
.env

# Bỏ qua các file rác của Python
__pycache__/
*.py[cod]

# Bỏ qua dữ liệu LocalStack (nếu có mount volume)
volume/

# Bỏ qua file hệ thống
.DS_Store 
nooootebook.ipynb
Visualize.ipynb
Kien thuc can thiet.txt
district_info.csv
3_add_username.py
4_add_email.py
club_info.csv
user_district.csv
court_num.csv
auto_update_finance.py
